body{
background-color: rgb(233, 205, 164);
}

h1{
    color: darkgreen;
    font-family: 'Fuzzy Bubbles', cursive;
}

div{
    background-color: antiquewhite;
    border: solid 2px orange;
}

p{
    color: rgb(189, 47, 47);
    font-family: 'Playfair Display', serif;
}